[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
moto = {git = "git://github.com/spulec/moto.git",ref = "64152f4"}
flask = "*"
cryptography = "*"

[requires]
python_version = "3.6"

[dev-packages]
twine = "*"
wheel = "*"
