[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
moto = {git = "https://github.com/spulec/moto.git",ref = "master"}
flask = "*"
cryptography = "*"

[requires]
python_version = "3.6"

[dev-packages]
wheel = "*"
